footer {
  height: 200px;
  background-color:#2D2D2D;
  color: white;
}

body {
  font-family: "M PLUS 1p";
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

header {
  width: 100vw;
  height: 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 10px;
  z-index: 99;
}

header .menu {
  position: absolute;
  right: 20px;
}

.menu-list {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: white;
  opacity: 0.9;
  top:0px;
  z-index:100;
}

.menu-list li {
  font-size: 30px;
  width:300px;
}

.middle-button {
  width: 300px;
}

.center-btn {
  text-align: center;
}

.font-bold {
  font-weight: bold;
}

.under-line {
  border-bottom: solid 4px #F0BC08;
}

.top-image {
  width: 100%;
}